# Pratybos

<code>**1-2  : Aritmetika ir kintamieji**</code><br>
<code>**3-4  : Funkcijos**</code><br>
<code>**5-6  : Duomenų typai**</code><br>
<code>**7-8  : Sąlygos ir sąlyginės išraiškos**</code><br>
<code>**9-10 : Sąrašas (masyvas)**</code>

### Aritmetika ir kintamieji

## #1

Žemiau esantis kodas kodas apskaičiuoja sekundžių skaičių per ketverius metus.

In [3]:
years = 4
days_per_year = 365 
hours_per_day = 24
mins_per_hour = 60
secs_per_min  = 60

total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * years
print(total_secs)

126144000

Prašau sukurkite aritmetinio skaičaivimo seka kuri nustato kiek žmonių gimsta per diena jeigu per vieną minute gimsta <b>250</b>.

In [4]:
# TODO: nustatykite kintamojo births_per_min reikšmę į tai kiek yra gimusių per minutę.
newborns_per_min = 250

# TODO: sukurkte skaičvimų seką kuri apskaičiuoja kintamojo newborns_per_day reikšmę
hours_per_day = 24
mins_per_hour = 60
secs_per_min  = 60
newborns_per_day = newborns_per_min * secs_per_min * mins_per_hour * hours_per_day

print(newborns_per_day)

21600000

## #2

Tragiška istorija. Buvo laivas kuris nuskendo, o visi manė kad jis nenuskandinamas. Laive buvo <b>891</b> keleivių iš kurių <b>342</b>  išgyveno tarp išgyvenusiųjų buvo <b>113</b> vaikai. Prašau parašyti kodą kuris apskaičiuoja kokia dalis keleivių išgyveno ir kokia išgyvenusiųjų dalis buvo vaikai.

In [5]:
# Procentais??????????
total    = 891 
survived = 342
minors   = 113 

#TODO apskaičiuoti kokia dalis keleivių išgyveno
survived_fraction = survived / total * 100

print(survived_fraction)

# TODO: apskaičiuoti kokia dalis tarp išgyvenusių yra vaikai
minors_fraction = minors / survived * 100

print(minors_fraction)

38.38383838383838
33.04093567251462

### Funkcijos

## #3

Žemiau esančiame kodo langelyje sukurkite funkciją `get_expected_price()`, kuri  prima du argumentus:

 - beds  – miegamųjų kambarių skaičius
 - baths – vonios kambarių skaičius

Ši funkcija turėtų grąžinti namo kainą kurią apskaičiuoja pagal miegamųjų ir vonios kambarių skaičių. Tarkime, kad:

 - namo su 0 miegamųjų ir 0 vonios kambarių kaina yra 80 000.
 - kiekvienas miegamasis prie kainos prideda 30 000
 - kiekvienas vonios kambarys prie kainos prideda 10 000.
 
Pavyzdžiui,
 - namo su 1 miegamuoju ir 1 vonios kambariu numatoma kaina 120 000
 - namo su 2 miegamaisiais ir 1 vonios kambariu numatoma kaina 150 000.

In [8]:
# TODO: užbaigite funkciją
def get_expected_price(beds, baths):
    value = 80000
    value += beds * 30000 + baths * 10000
    return value
print(get_expected_price(1, 1))

120000

## #4

Apdailinkas prašo padėti  kad supaprastintumėte kai kuriuos jo darbus ir išlaidas. 
Tiksliau, kuriate įrankį, kurį ketinate naudoti patalpų dažymo išlaidoms apskaičiuoti.<br>

Pirmiausia apibrėžkite funkciją `get_cost()`, kuri prims tokius argumentus kaip įvestį:
- `sqrmt_walls`     = bendras sienų kvadratinių metrų skaičius
- `sqrmt_ceiling`     = kvadratiniai lubų metrai, kurios turi būti nudažytos
- `sqrmt_per_liter` = su kiek litrų dažų galima padengti 1 kvadratinį metrą 
- `cost_per_liter`  = vieno litro dažų kaina (eurais).

Ši funkcija turi pasakyti kiek išlaidų turėsite (eurais) kad nudažyti visas sienas ir lubas vienu dažu sluoksniu. Tarkime, kad galite nusipirkti tikslų dažų kiekį, kurio jums reikia (pvz., jei jums reikia 7.523 litro, galite nusipirkti tikslų kiekį už tikslią sumą, o ne pirkti 8 litrus ir iššvaistyti šiek tiek dažų ir pinigų). Neapvalinkite savo atsakymo.

In [9]:
# TODO: Užbaigite rašyti funkciją ir išbandykite ją
def get_cost(sqrmt_walls, sqrmt_ceiling, sqrmt_per_liter, cost_per_liter):
    cost = (sqrmt_walls + sqrmt_ceiling) * sqrmt_per_liter * cost_per_liter
    return cost

### Duomenų typai

## #5

Šioje užduotyje remkitės ankstesniu pratimu kurioje  turėjote sukurti funkciją kuri apskaičiuoja namo vertę.
Naudokite žemiau esantį kodo langelį, kad sukurtumėte funkciją `get_expected_cost()`, kuri kaip įvesties argumentus priima trys kintamuosius:

- beds  - miegamųjų skaičius (duomenų tipas float)
- baths – vonios kambarių skaičius (duomenų tipas float)
- has_basement – ar namas turi rūsį, ar ne (duomenų tipas loginis)

Tai turėtų grąžinti namo kainą su tam konkrečiomis savybėmis. Tarkime, kad:

 - namo su 0 miegamųjų ir 0 vonios kambarių ir be rūsio kaina yra 80 000,
 - kiekvienas miegamasis prie kainos prideda 30 000,
 - kiekvienas vonios kambarys prie kainis prideda 10 000 
 - rūsys prie kainis prideda 40 000.
 
Pavyzdžiui, namo su 1 miegamuoju, 1 vonios kambariu ir be rūsiokaina yra 80 000 + 30 000 + 10 000 = 120 000.<br>
Ši vertė bus apskaičiuojama naudojant `get_expected_cost(1, 1, False)`.<br>
Namo su 2 miegamaisiais, 1 vonios kambariu ir rūsiu numatoma kaina yra 80000 + 2*30000 + 10000 + 40000 = 190000. Ši vertė bus apskaičiuojama naudojant `get_expected_cost(2, 1, True)`.

In [10]:
# TODO: užbaigite funkciją
def get_expected_cost(beds, baths, has_basement):
    value = 80000
    value += beds * 30000 + baths * 10000
    if has_basement:
        value += 40000
    return value
print(get_expected_cost(1, 1, False))

120000

## #6

Internetinė parduotuvė kuri parduoda žiedus su individualiomis graviūromis. Parduotuvė siūlo tiek paauksuotus, tiek gryno aukso žiedus.
Paauksuotų žiedų bazinė kaina yra 50 EUR, o už graviravimo vienetą ima 7 EUR.
Gryno aukso žiedų bazinė kaina yra 100 EUR, o už vieną graviruotą vienetą ima 10 EUR.
<code>**Pastaba:**</code>Tarpai ir skyrybos ženklai graviūroje skaičiuojami kaip išgraviruoti vienetai. Pavyzdžiui graviūra <b>'žiedų valdovas'</b>
būtų 14:

In [11]:
graviura = 'žiedų valdovas'
ilgis = len(graviura)
print(ilgis)

14

Jūsų uždavinys parašyti funkciją `cost_of_jewelry()`, kuriai reikia dviejų argumentų:<br>

 - `engraving`  - python eilutė (string) su graviūros tekstu
 - `solid_gold` – loginė vertė, nurodanti, ar žiedas yra iš gryno auksas ar ne.
 
Funkcija apskaičiuoja konkretaus juvelyrikos projekto kainą pagal paduotus argumentus

In [ ]:
def cost_of_jewelry(engraving, solid_gold):
    cost = 0
    if solid_gold:
        cost = 100 + len(engraving) * 10
    else:
        cost = 50 + len(engraving) * 7
    return cost

### Sąlygos ir sąlyginės išraiškos

## #7

Programuojate vandens tiekimo įmonei. Neseniai jums buvo pavesta parašyti funkciją `get_water_bill()`, kuri naudojama vieną argumentą kaip įvestis:

 - `num_liter` = litrų vandens kurį klientas sunaudojo tą mėnesį, skaičius.Tai visada bus sveikasis skaičius (int) be dešimtainės dalies.
 
Jūsų funkcija turi apskaičiuoti klientui sąskaitą už vandenį .
Vandens tiekimo įmonė naudoja šią kainodaros struktūrą:

| Grupė  | Kiekis litrais | Kaina už 1000 litrų |
|      :-|             :- |                  :- |
|  1     | 0 - 8000       | 5€                  |
|  2     | 8001 - 22000   | 6€                  |
|  3     | 22001 - 30000  | 7€                  |
|  4     | 30001+         | 10€                 |

Pavyzdžiui:

 - Klientas, kuris per mėnesį sunaudoja 10 000 litrų vandens, patenka į 2 grupę ir turi sumokėti 6 EUR * 10 = 60 EUR vandens sąskaitą. Kitaip tariant, `get_water_bill(10000`) turėtų grąžinti <b>60.0</b>.
 - Klientas, kuris per mėnesį sunaudoja 25 000 litrų vandens, patenka į 3 grupę ir turi sumokėti 7 EUR * 25 = 175 EUR vandens sąskaitą. Kitaip tariant, `get_water_bill(25000)` turėtų grąžinti <b>175.0</b>.
 
<code>**Pastaba:**</code>Neapvalinkite savo atsakymo. Jūsų funkcija gali grąžinti kainą su cento dalimi.

In [12]:
# TODO: Redaguokite funkciją, kad ji pateiktu teisingą sąskaitą už suvartotą kiekį vandens
def get_water_bill(num_liter):
    bill = 0
    if num_liter >= 30001:
        bill = num_liter / 1000 * 10
    elif num_liter >= 22001 :
         bill = num_liter / 1000 * 7
    elif num_liter >= 8001 :
         bill = num_liter / 1000 * 6
    elif num_liter >= 0 :
         bill = num_liter / 1000 * 5
    else:
        bill = "INVALID NUM"
    return bill
print(get_water_bill(10000))
print(get_water_bill(25000))

60.0
175.0

## #8

Dirbate duomenų paslaugas teikiančioje įmonėje. Už 10 EUR per mėnesį jūsų įmonė teikia 15 gigabaitų (GB) duomenų. Tada už bet kokius papildomus duomenis taikomas 0,01 EUR už MB (arba 10 EUR už GB, nes 1000 MB yra 1 GB).

Naudokite žemiau esantį kodo langelį parašyti funkciją `get_phone_bill(`), kuri priima vieną argumentą kaip įvestis:

- `gb` = GB duomenų skaičius, kurį klientas panaudojo per mėnesį

Pavyzdžiui:
 - Klientas, kuris per mėnesį naudoja 10 GB duomenų, apmokestinamas tik 10 EUR, nes sunaudojo mažiau nei 15 GB. Kitaip tariant, `get_phone_bill(10)` turėtų grąžinti 10.
 - Klientas, kuris per mėnesį sunaudoja 15,1 GB (arba 15 GB + 100 MB) duomenų, viršijo riba 0.1 GB, todėl jis turi sumokėti 10 EUR (plano kaina) ir plius 0.01 EUR * 100 = 1 EUR,  šio kliento bendra sąskaita yra 11 EUR. Kitaip tariant, `get_phone_bill(15.1)` turėtų grąžinti 11.
 
<code>**Pastaba:**</code>Neapvalinkite funkcijos atsakymo.

In [13]:
# TODO: Redaguokite funkciją, kad grąžintumėte teisingą sąskaitą už suvartotą kiekį GB duomenų 
def get_phone_bill(gb):
    bill = 10
    if gb > 15:
        bill += round((gb - 15) * 10, 2) 
    return bill
print(get_phone_bill(15.1))

11.0

Sąrašas (masyvas)

## #9

Sąraše `customers` yra klientų skaičius, kurie per pastarąjį mėnesį (kuris truko trisdešimt dienų) apsilankė restorane. 
Nustatykite kiekvieną iš šių verčių:

- `avg_first_seven` – vidutinis klientų skaičius, kurie apsilankė per pirmąsias septynias mėnesio dienas
- `avg_last_seven` – vidutinis klientų skaičius, apsilankiusių per paskutinias septynias mėnesio dienas
- `max_per_month` – didžiausias klientų skaičius kuris apsilankė daugiausia per pastarąjį mėnesį
- `min_per_month` – mažiausias klientų skaičius kuris apsilankė mažiausiai  per pastarąjį mėnesį

<code>**Pastaba:**</code> jei sąraše turite rasti mažiausią reikšmę, naudokite `min()`, o ne patys ieškokite mažiausios reikšmės ir tiesiogiai patys įveskite skaičių.

In [14]:
customers = [137, 147, 135, 128, 170, 174, 165, 146, 126, 159,
                 141, 148, 132, 147, 168, 153, 170, 161, 148, 152,
                 141, 151, 131, 149, 164, 163, 143, 143, 166, 171]

avg_first_seven = customers [:7]
avg_last_seven  = customers [-7:]
max_per_month   = max(customers)
min_per_month   = min(customers)
print(avg_first_seven)
print(avg_last_seven)
print(max_per_month)
print(min_per_month)

[137, 147, 135, 128, 170, 174, 165]
[149, 164, 163, 143, 143, 166, 171]
174
126

## #10

In [16]:
flowers = "pocket orchid, sweet pea, tiger lily, moon orchid, bird of paradise, monkshood, globe thistle"

Iš tikrųjų galite greitai paversti šią eilutę (string) sąrašu su metodu `.split()`. Šios fukncijos Sskliausteliuose turime nurodyti skiriami simbolį, kuris turėtų būti naudojamas pažymėti vieno sąrašo nario pabaigą ir kito pradžią, ir įdėti jį į kabutes. Šiuo atveju tas simbolis yra kablelis, nes `"pocket orchid, sweet pea, tiger lily, moon orchid, bird of paradise, monkshood, globe thistle"` elementus atskiria kablelis.

In [17]:
print(flowers.split(","))

['pocket orchid', ' sweet pea', ' tiger lily', ' moon orchid', ' bird of paradise', ' monkshood', ' globe thistle']

In [18]:
flowers_list = flowers.split(",")

In [19]:
print(type(flowers_list))

<class 'list'>

In [20]:
flowers_list

['pocket orchid',
 ' sweet pea',
 ' tiger lily',
 ' moon orchid',
 ' bird of paradise',
 ' monkshood',
 ' globe thistle']

Sukurkime du sąrašus:
- `letters` turėtų būti sąrašas kuriame kiekvienas įrašas yra didžioji anglų abėcėlės raidė. Pavyzdžiui, pirmieji du įrašai turėtų būti "A" ir "B", o paskutiniai du – "Y" ir "Z". Norėdami sukurti šį sąrašą, pradžioje sukuriame eilutę `alphabet` kuri saugos šiuos įrašus.
- `address` turėtų būti sąrašas, kuriame kiekviena adreso eilutė yra skirtingas sąrašo elementas. Šiuo atveju kiekviena adreso eilutė yra atskirta kableliu.

In [23]:
alphabet = "A.B.C.D.E.F.G.H.I.J.K.L.M.N.O.P.Q.R.S.T.U.V.W.X.Y.Z"
address = "Mr. Bean, Under the Stairs, 4 Privet Drive, Little Whinging, Surrey"

alphabet_list = alphabet.split(".")
print(alphabet_list)

address_list = address.split(",")
print(address_list)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
['Mr. Bean', ' Under the Stairs', ' 4 Privet Drive', ' Little Whinging', ' Surrey']

<code>**Šių uždavinų užbaigimo terminas iki 10/28 (imtinai). Sekmės!**</code>